<% provide(:title, 'All Users') %>
<% if params[:search] %>
  <h1>検索結果</h1>
<% else %>  
  <h1>全てのユーザー</h1>
<% end %>  

<!-- 検索拡張機能　-->
  <div class="col-md-10 col-md-push-10">
    <%= form_tag(users_path, :method => "get") do %>
      <div style="text_align:right;"></div>
        <%= label :search, "ユーザー名検索" %><BR>
      <p style="text_align:right;"></p>    
        <%= text_field_tag :search, params[:search], placeholder: "キーワードを入力.." %><%= submit_tag "検索", :name=> nil, class: "btn btn-sm btn-primary" %><BR>
    <% end %>
  </div>
 

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate @users %>
  <table class="table table-condenced table-hover" id="table-users">
    
    
    <% @users.each do |user| %>
      <tr>
        <td>
          <% if current_user.admin? %>
            <%= link_to user.name, user %>  |
          <% else %>
            <%= user.name %>  
          <% end %> 
          
          <% if current_user.admin? && !current_user?(user) %>
            <%= link_to "基本情報編集", edit_basic_info_user_path(user) %> |
            <%= link_to "削除", user, method: :delete,
                data: { confirm: "削除してよろしいですか？" } %>
          <% end %>    
        </td>
        
        
      </tr>
    <% end %> 
  </table>
  <%= will_paginate @users %>
</div>
